<%= form_with(model: gira) do |form| %>
  <% if gira.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gira.errors.count, "error") %> prohibited this gira from being saved:</h2>

      <ul>
        <% gira.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :event_date, style: "display: block" %>
    <%= form.date_field :event_date %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>  <!-- Adiciona o label para o campo de descrição -->
    <%= form.text_area :description, rows: 4, cols: 50 %>  <!-- Campo para descrição longa -->
  </div>

  <div class="mb-3" style="max-width: 300px;">
      <%= form.label :type_of_gira, "Tipo de Gira" %>
      <%= form.select :type_of_gira,
                      [["Aberto", "Aberto"], ["Fechado", "Fechado"], ["Desenvolvimento", "Desenvolvimento"]],
                      { prompt: "Selecione o tipo de gira" },
                      { class: "form-select", id: "type_of_gira_select" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
