<p style="color: green"><%= notice %></p>

<%= render @gira %>

<div>
  <%= link_to "Edit this gira", edit_gira_path(@gira) %> |
  <%= link_to "Back to giras", giras_path %>

  <%= button_to "Destroy this gira", @gira, method: :delete %>
</div>
